{% extends './master_layout/defaut.html' %}
{% block subtitulo %} Sobre Nós {% endblock%}

{% block body %}

<div class="container corpo">

    <p id="text-home" class="indication-page" style="font-size: 30px;"><u>Sobre Nós</u></p>

    <p id="text-home">A LarDoceLar foi fundada em meados de 2014A
        empresa teve início em meados de 2014 com o objetivo
        de facilitar a contratação de trabalhos
        domésticos experientes. Este conceito simples mas
        muito relevante nasceu a partir do desafio que
        muitas famílias enfrentam hoje para manter uma casa
        organizada e livre de problemas. Também se baseia na
        ideia de que as famílias e os indivíduos devem
        despender mais tempo e energias em seus objetivos de
        vida.
    </p>
        
    <p id="text-home">Depois de entender como esse tipo de serviço
        fazia sucesso em outros países;, decidimos dar
        início; a LarDoceLar. Acredito que todos nós
        merecemos a oportunidade de crescer tanto pessoal quanto
        financeiramente. E levamos muito a sério o apoio
        a todos os que trabalham na LarDoceLar. É a coisa
        certa a fazer e faz sentido para nós. É claro que se
        não continuamos a melhorar nossas
        operações continuamente quer seja
        através do uso de tecnologia de
        informações, ou com o uso dos mais
        modernos modos de disponibilizar serviços, nós
        nos esforçamos para oferecer a ti o melhor
        serviço.
    </p>

    <div style="text-align: center;" class="div-logo">
        <a  href="/">
            <img class="img-logo-home" src="../../static/img/projeto-uni9.png">
        </a>
    </div>
</div>

{% endblock %}

